<button mat-button color="warn" (click)="logout()">
  <mat-icon>logout</mat-icon>
  Cerrar sesión
</button>
<div class="wrapper">
  <form
    [formGroup]="deliveredForm"
    (ngSubmit)="onSubmit()"
    class="form-container"
  >
    <div style="display: flex; justify-content: center; margin-bottom: 0px">
      <img src="assets/vivipra.png" alt="vivipra" style="width: 90px" />
    </div>

    <h3 style="text-align: center; margin-top: -25px">Datos de la factura</h3>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Folio</mat-label>
      <input readonly matInput formControlName="folio" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>RUT Cliente</mat-label>
      <input readonly matInput formControlName="rutCliente" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre Cliente</mat-label>
      <input readonly matInput formControlName="nombreCliente" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Dirección</mat-label>
      <input readonly matInput formControlName="direccion" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Comentarios</mat-label>
      <textarea readonly matInput formControlName="comentario"></textarea>
    </mat-form-field>

    <h3 style="text-align: center">Datos de entrega</h3>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>RUT</mat-label>
      <input matInput formControlName="rutEntrega" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombreEntrega" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Comentario</mat-label>
      <textarea matInput formControlName="comentarioEntrega"></textarea>
    </mat-form-field>

    <div class="signature-container">
      <mat-label>Firma</mat-label>
      <canvas #signaturePad class="signature-pad"></canvas>
    </div>

    <div class="buttons">
      <button type="button" class="btn-action" (click)="clearSignature()">
        Limpiar
      </button>
      <button type="submit" class="btn-action">Guardar</button>
    </div>
  </form>
</div>
