<div class="box" style="display: flex; flex-direction: row">
  <form
    [formGroup]="deliveredForm"
    (ngSubmit)="onSubmit()"
    class="form-container"
  >
    <h3>Datos de la factura</h3>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Folio</mat-label>
      <input
        matInput
        formControlName="folio"
        placeholder="Ingresa nombre del cliente"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>RUT Cliente</mat-label>
      <input matInput formControlName="rutCliente" placeholder="12345678-9" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre Cliente</mat-label>
      <input
        matInput
        formControlName="nombreCliente"
        placeholder="Ingresa nombre del cliente"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Dirección</mat-label>
      <input
        matInput
        formControlName="direccion"
        placeholder="Ingresa la dirección"
      />
    </mat-form-field>
  </form>

  <!-- datos de quien recibe la entrega -->
  <div
    [formGroup]="deliveredForm"
    (ngSubmit)="onSubmit()"
    class="form-container"
  >
    <h3>Datos de entrega</h3>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>RUT</mat-label>
      <input
        matInput
        formControlName="direccion"
        placeholder="Ingresa la dirección"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        formControlName="direccion"
        placeholder="Ingresa la dirección"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Comentario</mat-label>
      <textarea matInput formControlName="comentario"></textarea>
    </mat-form-field>

    <div class="signature-container">
      <mat-label>Firma</mat-label>
      <canvas #signaturePad class="signature-pad"></canvas>
    </div>

    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

    <div class="buttons">
      <button type="button" class="btn-action" (click)="clearSignature()">
        Limpiar
      </button>
      <button type="submit" class="btn-action">Guardar</button>
    </div>
  </div>
</div>
