<div class="scan-container">
  <mat-card class="scanner-card">
    <ng-container *ngIf="!escaneando && !facturaData">
      <h2 style="color: orange">Escanear factura o guía</h2>
      <button
        mat-raised-button
        (click)="escaneando = true"
        style="color: orange"
      >
        <mat-icon>qr_code_scanner</mat-icon>
        Iniciar escaneo
      </button>
    </ng-container>

    <ng-container *ngIf="escaneando && !facturaData">
      <h2 style="color: orange">Escaneando...</h2>

      <mat-form-field appearance="fill" *ngIf="devices.length > 0">
        <mat-label>Selecciona una cámara</mat-label>
        <mat-select [(value)]="selectedDevice">
          <mat-option *ngFor="let device of devices" [value]="device">
            {{ device.label || "Cámara " + device.deviceId }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <zxing-scanner
        [device]="selectedDevice"
        (camerasFound)="onCamerasFound($event)"
        (scanSuccess)="onCodeResult($event)"
        [formats]="allowedFormats"
      >
      </zxing-scanner>

      <button mat-stroked-button color="warn" (click)="cancelarEscaneo()">
        <mat-icon>arrow_back</mat-icon>
        Cancelar
      </button>
    </ng-container>

    <ng-container *ngIf="facturaData">
      <div class="factura-info">
        <h3 style="color: orange">Factura escaneada</h3>
        <p *ngIf="facturaData.error" class="error">{{ facturaData.error }}</p>
        <ng-container *ngIf="!facturaData.error">
          <p><strong>Número:</strong> {{ facturaData.rutEmisor }}</p>
          <p><strong>Cliente:</strong> {{ facturaData.folio }}</p>
        </ng-container>

        <button
          mat-stroked-button
          style="color: orange"
          matTooltip="Escanear otra factura o guía"
          (click)="reiniciarEscaneo()"
        >
          <mat-icon>qr_code</mat-icon>
          Escanear
        </button>
      </div>
    </ng-container>
  </mat-card>
</div>
