div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

img {
  width: 30rem;
}

@media (max-width: 1024px) {
  div {
    width: 50vh;
  }

  img {
    width: 15rem;
  }
}
