<!-- Botón de logout -->
<button mat-button color="warn" (click)="logout()">
  <mat-icon>logout</mat-icon>
  Cerrar sesión
</button>

<!-- Barra de búsqueda y logo -->
<div class="mat-elevation-z4" style="overflow-x: auto">
  <div class="search-bar-container">
    <div>
      <mat-form-field appearance="outline" class="search-field">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" />
      </mat-form-field>
    </div>
    <div
      style="
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
        padding: 0px 30px;
      "
    >
      <img src="assets/vivipra.png" alt="vivipra" style="width: 100px" />
    </div>
  </div>

  <!-- Tabla principal: despachos entregados -->
  <div class="desktop-view">
    <h2 style="margin-top: 40px">Despachos finalizados</h2>
    <br />
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-table"
      matSort
      matSortActive="folio"
      matSortDirection="asc"
      matSortDisableClear
      [trackBy]="trackByFolio"
    >
      <!-- Columnas -->
      <ng-container matColumnDef="folio">
        <th mat-header-cell *matHeaderCellDef>Folio</th>
        <td mat-cell *matCellDef="let despacho">{{ despacho.folio }}</td>
      </ng-container>

      <ng-container matColumnDef="rutCliente">
        <th mat-header-cell *matHeaderCellDef>RUT Cliente</th>
        <td mat-cell *matCellDef="let despacho">{{ despacho.rutCliente }}</td>
      </ng-container>

      <ng-container matColumnDef="nombreCliente">
        <th mat-header-cell *matHeaderCellDef>Nombre Cliente</th>
        <td mat-cell *matCellDef="let despacho">
          {{ despacho.nombreCliente }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tipoEntrega">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo entrega</th>
        <td mat-cell *matCellDef="let despacho">{{ despacho.tipoEntrega }}</td>
      </ng-container>

      <ng-container matColumnDef="rutEntrega">
        <th mat-header-cell *matHeaderCellDef>rut entrega</th>
        <td mat-cell *matCellDef="let despacho">{{ despacho.rutEntrega }}</td>
      </ng-container>

      <ng-container matColumnDef="nombreEntrega">
        <th mat-header-cell *matHeaderCellDef>Nombre entrega</th>
        <td mat-cell *matCellDef="let despacho">
          {{ despacho.nombreEntrega }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chofer">
        <th mat-header-cell *matHeaderCellDef>Chofer</th>
        <td mat-cell *matCellDef="let despacho">{{ despacho.chofer }}</td>
      </ng-container>

      <ng-container matColumnDef="patente">
        <th mat-header-cell *matHeaderCellDef>Patente</th>
        <td mat-cell *matCellDef="let despacho">
          {{ despacho.patente | uppercase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="asignadoPor">
        <th mat-header-cell *matHeaderCellDef>Asignado por</th>
        <td mat-cell *matCellDef="let despacho">{{ despacho.asignadoPor }}</td>
      </ng-container>

      <ng-container matColumnDef="fechaAsignacion">
        <th mat-header-cell *matHeaderCellDef>Fecha asignación</th>
        <td mat-cell *matCellDef="let despacho">
          <i>Fecha:</i>
          {{ despacho.fechaAsignacion | date : "dd/MM/yyyy" }}
          <i>Hora:</i>
          {{
            despacho.horaAsignacion ? despacho.horaAsignacion : "Sin registro"
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fechaDespacho">
        <th mat-header-cell *matHeaderCellDef>Fecha despacho</th>
        <td mat-cell *matCellDef="let despacho">
          <i>Fecha:</i>
          {{ despacho.fechaDespacho | date : "dd/MM/yyyy HH:mm" }}
          <i>Hora:</i>
          {{ despacho.horaDespacho ? despacho.horaDespacho : "Sin registro" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fechaEntrega">
        <th mat-header-cell *matHeaderCellDef>Fecha entrega</th>
        <td mat-cell *matCellDef="let despacho">
          <i>Fecha:</i>
          {{ despacho.fechaEntrega | date : "dd/MM/yyyy" }}
          <i>Hora:</i>
          {{ despacho.horaEntrega ? despacho.horaEntrega : "No hay" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tiempoTranscurrido">
        <th mat-header-cell *matHeaderCellDef>Tiempo</th>
        <td mat-cell *matCellDef="let despacho">
          {{ despacho.tiempoTranscurrido }}
        </td>
      </ng-container>

      <ng-container matColumnDef="comentarioEntrega">
        <th mat-header-cell *matHeaderCellDef>Comentario</th>
        <td mat-cell *matCellDef="let despacho">
          {{ despacho.comentarioEntrega }}
        </td>
      </ng-container>

      <ng-container matColumnDef="imagenEntrega">
        <th mat-header-cell *matHeaderCellDef>Firma</th>
        <td mat-cell *matCellDef="let despacho">
          <button
            mat-button
            color="primary"
            (click)="abrirModalFirma(despacho.imagenEntrega)"
          >
            Ver firma
          </button>
        </td>
      </ng-container>

      <!-- Filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Paginador -->
    <mat-paginator
      [pageSize]="8"
      [pageSizeOptions]="[8, 10, 15, 20]"
      showFirstLastButtons
    ></mat-paginator>

    <!-- Sección: Despachos activos por chofer -->
    <h2 style="margin-top: 40px">Despachos en curso por chofer</h2>

    <div *ngFor="let grupo of choferesConDespachos" style="margin-bottom: 40px">
      <h3>Chofer: {{ grupo.chofer }}</h3>

      <table
        mat-table
        [dataSource]="grupo.despachos"
        class="mat-elevation-z2"
        style="width: 100%"
      >
        <!-- Folio -->
        <ng-container matColumnDef="folio">
          <th mat-header-cell *matHeaderCellDef>Folio</th>
          <td mat-cell *matCellDef="let despacho">{{ despacho.folio }}</td>
        </ng-container>

        <!-- Cliente -->
        <ng-container matColumnDef="nombreCliente">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let despacho">
            {{ despacho.nombreCliente }}
          </td>
        </ng-container>

        <!-- Patente -->
        <ng-container matColumnDef="rutCliente">
          <th mat-header-cell *matHeaderCellDef>RUT cliente</th>
          <td mat-cell *matCellDef="let despacho">{{ despacho.rutCliente }}</td>
        </ng-container>

        <!-- Botón Eliminar -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let despacho">
            <button
              mat-icon-button
              color="warn"
              (click)="eliminarDespacho(despacho._id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Filas -->
        <tr
          mat-header-row
          *matHeaderRowDef="[
            'folio',
            'nombreCliente',
            'rutCliente',
            'acciones'
          ]"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: ['folio', 'nombreCliente', 'rutCliente', 'acciones']
          "
        ></tr>
      </table>
    </div>
  </div>
</div>
